html {
  font-size: 62.5%;
}
body {
  -webkit-font-smoothing: antialiased;
  color: #3C4E65;
  padding: 0;
  margin: 0;
  color: #666;
  font-size: 12px;
  // font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  // font-family: 'Sawarabi Mincho', sans-serif, "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E" !important;

  font-family: "Yu Gothic Medium";
}


.ff {
  font-family: '游ゴシック体';
}

li {
  list-style: none;
}


.fn-hide {
  display: none!important
}

.fn-show {
  display: block!important
}

.fn-flex {
  display: flex!important
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 152px;
}



@media screen and (max-width: 600px) {

  #root {
    padding: 0;
  }
}


